@import "normalize";
@include normalize();

@import "aspect-ratio";

html, body, #app, #app > div {
  height: 100%;
  cursor: pointer;
}

#graphics {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
}

#app, header, footer, .container, main {
  display: flex;
}

.container > *, main > *, header > *, footer > * {
  flex: 1 100%;
}

main, header, footer {
  align-items: center;
}

.container, main {
  flex-flow: row wrap;
}

.container {
  max-width: 960px;
  margin: auto;
}

.corner {
  margin: 1em;
}

.col {
  flex: 1 100%;
  padding: 15px;
}

@media all and (min-width: 600px) {
  .col { flex: 1 0; }
}

header, footer {
  text-align: center;
}

.vimeo {
  @include aspect-ratio(16, 9);
}

.vimeo iframe {
  opacity: 0.8;
  border: 5px solid black;
}

