#graphics {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
}

html {
  padding-top: 50px;
  cursor: pointer;
}

.embed-responsive iframe {
  opacity: 0.8;
  border: 5px solid black;
}

